<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reyna HG</title>
  </head>
    <body>
      <div>
        <h1><a href="">Django Girls Blog</a></h1>
      </div>
      <div>
        <p>published: 27.02.2016, 03:50</p>
        <h2><a href="">Mi primer post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec
      </div>
      <div>
        <p>published: 27.02.2016, 03:20</p>
        <h2><a href="">Mi segundo post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec
       </div>
    </body>
</html>
